<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:p="http://www.springframework.org/schema/p" 
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop 	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"> 
	
	<aop:aspectj-autoproxy />

<bean id="loginHelper" class="com.hibernate.LoginHelper">
</bean>
<!-- <bean id="register" class="com.model.Registration"> </bean> -->

<!--  hibernate configuration --> 	
	<bean id="dataSource"
        class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
         p:driverClassName="com.mysql.jdbc.Driver" p:url="jdbc:mysql://localhost/login" 
         p:username="root" p:password="kiran143@">
   	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	     <property name="dataSource" ref="dataSource"></property>
	     <property name="hibernateProperties">
	         <props>
	             <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
	             <prop key="hibernate.show_sql">true</prop>
	         </props>
	     </property>  
	     <property name="annotatedClasses">
         <list>
         <value>com.hibernate.customer_login</value>
         </list>
         </property>
	 	
	 </bean>
	<tx:annotation-driven/>
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    	<property name="sessionFactory" ref="sessionFactory" /> 
	</bean>

</beans>